<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.shoppingapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fledge"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".user.UserDetails"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="Fledge"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>



        <activity android:name=".VegetableTypeSelectActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".FruitTypeSelectActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".OtherTypeSelectActivity"
            android:parentActivityName=".MainActivity">

        </activity>


        <activity
            android:name=".fruit.FruitCatalogActivity"
            android:label="Women"
            android:parentActivityName=".FruitTypeSelectActivity">
        </activity>
        <activity
            android:name=".fruit.FruitEditorActivity"
            android:parentActivityName=".fruit.FruitCatalogActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fruit.FruitCatalogActivity" />
        </activity>
        <activity
            android:name=".fruit.FruitDetailActivity"
            android:parentActivityName=".fruit.FruitCatalogActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".fruit.FruitCatalogActivity" />
        </activity>


        <activity
            android:name=".vegetable.VegetableCatalogActivity"
            android:label="Men"
            android:parentActivityName=".VegetableTypeSelectActivity">
        </activity>
        <activity
            android:name=".vegetable.VegetableEditorActivity"
            android:parentActivityName=".vegetable.VegetableCatalogActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vegetable.VegetableCatalogActivity" />
        </activity>
        <activity
            android:name=".vegetable.VegetableDetailActivity"
            android:parentActivityName=".vegetable.VegetableCatalogActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vegetable.VegetableCatalogActivity" />
        </activity>
        <provider
            android:name=".data.CartProvider"
            android:authorities="com.example.dell.shoppingapp"
            android:exported="false" />

        <activity
            android:name=".other.OtherCatalogActivity"
            android:label="Kids"
            android:parentActivityName=".OtherTypeSelectActivity">
        </activity>
        <activity
            android:name=".other.OtherEditorActivity"
            android:parentActivityName=".other.OtherCatalogActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".other.OtherCatalogActivity" />
        </activity>
        <activity
            android:name=".other.OtherDetailActivity"
            android:parentActivityName=".other.OtherCatalogActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".other.OtherCatalogActivity" />
        </activity>
        <activity
            android:name=".cart.CartDisplayActivity"
            android:label="Cart">
        </activity>

    </application>

</manifest>